@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">@Html.ActionLink("JavaScript", "JavaScript", "Home")</li>
            <li class="list-group-item">@Html.ActionLink("JQuery", "JQuery", "Home")</li>
            <li class="list-group-item">@Html.ActionLink("CSS", "Css", "Home")</li>
            <li class="list-group-item">@Html.ActionLink("About", "About", "Home")</li>
        </ul>
        
    </div>

    <div id="ToDisplayResult" class="container">
    </div>
</div>

